{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="page-header">
                <h1>{{index .StringMap "title"}}</h1>
            </div>
            <p class="lead">
                {{index .StringMap "body"}}
            </p>
            <p> 
                {{if ne (index .StringMap "remote_ip") ""}}
                    This is your IP Address: {{index .StringMap "remote_ip"}}
                {{else}}                    
                    No IP Address found. Please visit the <a href="/">Home page</a> to get one.
                {{end}}
            </p>
            <p>&copy; {{index .StringMap "author"}}</p>
        </div>
    </div>
</div>
{{end}}