{{template "base" .}}

{{define "title"}}
B8B Booking
{{end}}

{{define "content"}}
<main class="flex-fill">
    <div class="container top-space">
        <h1 class="mt-5 text-center">Search Availability</h1>
        <form action="/book" method="post" class="row g-3 mt-2 needs-validation" novalidate>
            <input type="hidden" name="csrf_token" value="{{.Token}}">
            <div class="row mt-5 text-center">
                <div class="col">
                    <div id="reservation-dates">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="text" name="start" placeholder="Check-In" required>
                            </div>
                            <div class="col">
                                <input class="form-control" type="text" name="end" placeholder="Check-Out" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Search Availability</button>
            </div>
        </form>
    </div>
</main>
{{end}}

{{define "js"}}
<!-- Custom Script -->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()

    // Datepicker
    const elem = document.getElementById('reservation-dates');
    const rangepicker = new DateRangePicker(elem, {
        format: 'dd-mm-yyyy',
        todayBtn: 'true',
        clearBtn: 'true',
        buttonClass: 'btn',
        calendarWeeks: 'true',
        minDate: 'today',
    });
</script>
{{end}}